$font-stack:'Josefin Sans',
sans-serif;
$font-nav: 'Roboto Mono',
monospace;
$font-title:'Signika', sans-serif;
$nav-size: 25px;
$primary-color: snow;
$secondary-color:black;
$tertiary-color: #0b5a1f;
$full:100%;
$half:50%;


#header {
    width: $full;
    height: auto;
    display: flex;
    justify-content: space-between;
    z-index: 100000;

    #logo {
        padding-left: 5%;
    }

    #nav {
        padding-right: 5%;

        a {
            padding: 10px 10px;
            text-decoration: none;
            font-family: $font-title;
            transition: transform .2s;
        }

        a:hover {
            text-decoration: none;
            color: $tertiary-color;
            transform: scale(1.2);
        }

    }
}